@import url("/src/css/font.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body ::-webkit-scrollbar {
  @apply w-1 h-1;
}

body ::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-sm;
}
body ::-webkit-scrollbar-track {
  @apply bg-gray-200 rounded-sm;
}

input[type="range"]{
  direction: ltr;
}

input[type="range"]::-webkit-slider-thumb{
  height: 14px;
  width: 14px;
  border-radius: 50%;
  pointer-events: auto;
  -webkit-appearance: none;
  background-color: #ea580c;
}
input[type="range"]::-moz-range-thumb{
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: none;
  pointer-events: auto;
  -moz-appearance: none;
  background-color: #ea580c;
}